[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv
[submodule "MyProject/ext/eigen-git-mirror"]
	path = MyProject/ext/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "MyProject/ext/googletest"]
	path = MyProject/ext/googletest
	url = https://github.com/google/googletest.git
